<!-- <button (click)="ngOnDestroy()">Go offline</button> -->
<ul>
  <!-- <li *ngFor="let c of courses"> -->

    <!-- async pipe will unwrap this observable,will get the latest value realtime and component gets destroy it will automatically unsubscribe from this subscription -->
    <li>All objects</li>
      <li *ngFor="let c of courses$ | async">
    {{ c.name || c }}
    <!-- <button (click)="update(c)">Update</button> -->
  </li>
</ul>
<br>
<input type="text" [(ngModel)]="c"  *ngFor="let c of courses$ | async" #c [value]="c.name || c">
<button (click)="update(c)">Update</button>
<br>

<!-- reading a single object -->
<p>{{ course$ | async | json }}</p>

<p>{{ author$ | async | json }}</p>


<ul>
  <li>{{ (author$ | async)?.name }}</li>
  <li>{{ (author$ | async)?.students }}</li>
  <li>{{ (author$ | async)?.isPremium }}</li>
</ul>

<!-- //shorter -->
<ul *ngIf="author$ | async as athr">
    <li>{{ athr.name }}</li>
    <li>{{ athr.students }}</li>
    <li>{{ athr.isPremium }}</li>
  </ul>

  <p>Add an object</p>
  <input type="text" #courses (keyup.enter)="add(courses)">
